@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding&family=Nanum+Gothic:wght@400;700&display=swap');

.header {
    display: flex;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    margin-top: 40px;
}